{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="container">
  <h1 class="mt-5">Dashboard</h1>
  <form method="GET" action="{{ url_for('dashboard') }}">
    <div class="form-group">
      <input type="text" name="search" class="form-control" placeholder="Buscar...">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
  </form>
  <table class="table table-striped mt-4">
    <thead>
      <tr>
        <th>ID</th>
        <th>Asunto</th>
        <th>Número de Oficio</th>
        <th>Fecha de Creación</th>
        <th>Fecha de Subida</th>
        <th>Unidad Administrativa</th>
        <th>Folio Inicial</th>
        <th>Folio Final</th>
        <th>Emisor</th>
        <th>Remitente</th>
        <th>Resumen</th>
        <th>Categoría</th>
        <th>Subcategoría</th>
        <th>Archivo</th>
        <th>Historial</th>
          <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      {% for archivo in archivos %}
      <tr>
        <td>{{ archivo[0] }}</td>
        <td>{{ archivo[1] }}</td>
        <td>{{ archivo[2] }}</td>
        <td>{{ archivo[3] }}</td>
        <td>{{ archivo[4] }}</td>
        <td>{{ archivo[5] }}</td>
        <td>{{ archivo[6] }}</td>
        <td>{{ archivo[7] }}</td>
        <td>{{ archivo[8] }}</td>
        <td>{{ archivo[9] }}</td>
        <td>{{ archivo[10] }}</td>
        <td>{{ archivo[11] }}</td>
        <td>{{ archivo[12] }}</td>
        <td><a href="{{ url_for('ver_archivo', archivo_id=archivo[0]) }}" class="btn btn-info btn-sm">Ver</a></td>
        <td><a href="{{ url_for('historial', archivo_id=archivo[0]) }}" class="btn btn-secondary btn-sm">Historial</a></td>
        <td><a href="{{ url_for('eliminar_archivo', archivo_id=archivo[0]) }}" class="btn btn-secondary btn-sm">Eliminar</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
